/* Quitamos márgenes para todas las pantallas */

* {
    margin: 0;
    padding: 0;
}

/* Estilos de la cabecera de todas las páginas */

.header {
    background-color: #AFE1AF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header img {
    height: 100px;
    width: 100px;
}

.header nav ul li a:hover {
    color: #000000;
    text-decoration: overline;
}

/* Estilos del footer de todas las páginas */

.footer {
    background-color: #AFE1AF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    height: 100px;
    width: 100px;
}

.footer div a {
    margin: 5px;
}

.imgCenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 750px;
    width: auto;
}

.footer a img {
    height: 50px;
    width: 50px;
}

/* Se da altura a las imágenes de las cartas y un redondeo */
.servicios div div img {
    border-radius: 20px 20px;
    height: 100%;
}

.servicios > div {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.cardcss {
    border: 1px solid;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 20px;
    margin-right: 10px;
    transition: 3s;
}

/* Transformación para hacer más grande la carta cuando se pasa el ratón por encima*/

.cardcss:hover {
    transform: scale(1.25);
}

.servicios div div a {
    text-decoration: none;
    background-color: lightblue;
    padding: 7px;
    color: black;
    border-radius: 10px;
}

/*Cambiamos el color del botón a azul cuando pasamos el ratón por encima */

.servicios div div a:hover {
    background-color: blue;
    color: white;
}

.servicios div div h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.title_center {
    text-align: center;
    font-size: 40px;
}

.servicios__texto {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.texto_paragrafo {
    margin: 20px;
    text-align: justify;
}

/* Estilo para la mayoría de botones */

.botonera {
    background-color: rgb(214, 245, 227);
    padding: 7px;
    color: black;
    border-radius: 10px;
    text-align: center;
    margin-left: 45%;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 45%;
}

/*Cambiamos color del botón cuando se pasa por encima */
.botonera:hover {
    background-color: blue;
    color: white;
}

/*Cambiamos color del botón cuando se pasa por encima */
.buttonSubmit:hover {
    background-color: blue;
    color: white;
}



.formulario {
    border-radius: 10px;
    background-color: #dceddc;
    height: 100%;
    width: 350px;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
}


.formulario form div {
    margin: 1px;
}

.formulario form button {
    background-color: rgb(214, 245, 227);
    padding: 4px;
    color: black;
    border-radius: 10px;
    text-align: center;
    margin-left: 40%;
    font-size: 20px;
    margin-bottom: 20px;

}

.maps {
    margin-left: 50px;
    height: 545px;
}

/* Se hace más grande el mapa cuando se pasa el ratón por encima */
.maps:hover {
    transform: scale(1.25);
}

.fotos div img {
    height: 20em;
    width: 20em;
    margin: 10px;
    object-fit: cover;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/* Se hacen más grandes las fotos de la galería cuando se pasa el ratón por encima */
.fotos div img:hover {
	transform: scale(1.3);
}

.fotos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotos div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.formularioFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.tituloChicos {
    text-align: center;
}


/* Se hace responsive la pantalla cuando tiene un ancho máximo de 1319px */
@media screen and (max-width: 1319px) {
    .fotos {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .fotos div img {
        width: 15em;
    }

    .maps {
        height: 368px;
    }

    .formulario {
        height: 350px;
    }

    .botonera {
        width: 186px;
    }
}

/* Se hace responsive la pantalla cuando tiene un ancho máximo de 990px */
@media screen and (max-width: 990px) {
    .fotos div img {
        height: 12em;
        width: 12em;
    }
}

/* Se hace responsive la pantalla cuando tiene un ancho máximo de 845px */
@media screen and (max-width: 845px) {
    .fotos div img {
        height: 10em;
        width: 10em;
    }

}

/* Se hace responsive la pantalla cuando tiene un ancho máximo de 714. Las fotos pasan a ser en columnas de 2 imágenes */
@media screen and (max-width: 714px) {
    .fotos div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .fotos div img {
        height: 12em;
        width: 12em;
    }

    .fotos {
        height: auto;
        justify-content: space-around;
    }

    .formularioFlex {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 150px;
    }

    .maps {
        margin-right: 60px;
        width: 362px;
    }
}

/* Se hace responsive la pantalla cuando tiene un ancho máximo de 570px */
@media screen and (max-width: 570px) {
    .header nav ul {
        flex-direction: column;
    }

    .imgCenter {
        width: 250px;
    }
}

/* Se hace responsive la pantalla cuando tiene un ancho máximo de 433px. En cada fila solo habrá una imagen */
@media screen and (max-width: 433px) {
    .fotos div {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
    }

    .botonera {
        margin-left: 30%;
    }
}

