* {
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    background-color: #AFE1AF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header img {
    height: 100px;
    width: 100px;
}

.header nav ul {
    list-style: none;
    display: flex;
}

.header nav ul li {
    margin: 20px;
}

.header nav ul li a:hover {
    color: #000000;
    text-decoration: overline;
}

.footer {
    background-color: #AFE1AF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    height: 100px;
    width: 100px;
}

.footer div a {
    margin: 5px;
}

.imgCenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 750px;
    width: auto;
}

.footer a img {
    height: 50px;
    width: 50px;
}

.servicios div div img {
    height: 300px;
    width: 300px;
    border-radius: 20px 20px;
}

.servicios > div {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.servicios div div {
    height: 400px;
    width: 300px;
    border: 1px solid;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 20px;
    background-color: #dceddc;
    margin-right: 10px;
    transition: 3s;
}

.servicios div div:hover {
    transform: scale(1.25);
}

.servicios div div a {
    text-decoration: none;
    background-color: lightblue;
    padding: 7px;
    color: black;
    border-radius: 10px;
}

.servicios div div a:hover {
    background-color: blue;
    color: white;
}

.servicios div div h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.title_center {
    text-align: center;
    font-size: 40px;
}

.servicios__texto {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.texto_paragrafo {
    margin: 20px;
    text-align: justify;
}

.botonera {
    background-color: rgb(214, 245, 227);
    padding: 7px;
    color: black;
    border-radius: 10px;
    text-align: center;
    margin-left: 45%;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 45%;
}

.botonera:hover {
    background-color: blue;
    color: white;
}

.buttonSubmit:hover {
    background-color: blue;
    color: white;
}



.formulario {
    border-radius: 10px;
    background-color: #dceddc;
    height: 525px;
    width: 350px;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.formulario form div {
    margin: 1px;
}

.formulario form button {
    background-color: rgb(214, 245, 227);
    padding: 4px;
    color: black;
    border-radius: 10px;
    text-align: center;
    margin-left: 40%;
    font-size: 20px;
    margin-bottom: 20px;

}

.maps {
    margin-left: 50px;
    height: 545px;
}

.maps:hover {
    transform: scale(1.25);
}

.fotos div img {
    height: 20em;
    width: 20em;
    margin: 10px;
    object-fit: cover;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.fotos div img:hover {
	transform: scale(1.3);
}

.fotos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotos div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.textOver {
    position: absolute;
    margin-bottom:420px;
    font-size: 40px;
    color: #e7f0e7;
}

.formularioFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.tituloChicos {
    text-align: center;
}

@media screen and (max-width: 1319px) {
    .fotos {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .fotos div img {
        width: 15em;
    }

    .maps {
        height: 368px;
    }

    .formulario {
        height: 350px;
    }

    .botonera {
        width: 186px;
    }
}

@media screen and (max-width: 990px) {
    .fotos div img {
        height: 12em;
        width: 12em;
    }
}

@media screen and (max-width: 845px) {
    .fotos div img {
        height: 10em;
        width: 10em;
    }

}

@media screen and (min-width: 714px) {
    .maps {
        margin-right: 5px;
    }

    .formulario {
        margin-left: 5px;
    }
}

@media screen and (max-width: 714px) {
    .fotos div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .fotos div img {
        height: 12em;
        width: 12em;
    }

    .fotos {
        height: auto;
        justify-content: space-around;
    }

    .container {
        align-items: flex-start;
    }

    .formularioFlex {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 150px;
    }

    .maps {
        margin-right: 60px;
        width: 362px;
    }
}

@media screen and (max-width: 570px) {
    .header nav ul {
        flex-direction: column;
    }

    .imgCenter {
        width: 250px;
    }
}

@media screen and (max-width: 433px) {
    .fotos div {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
    }

    .botonera {
        margin-left: 30%;
    }
}

