@import "./base/generales.scss";
@import "./base/variables";
@import "./components/footer";
@import "./components/header";
@import "./components/servicios";
@import "./components/contacto";
@import "./components/galeria";
@import "./components/nosotros";


/* Se hace responsive la pantalla cuando tiene un ancho máximo de 1319px */
@media screen and (max-width: 1319px) {
    .fotos {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .fotos div img {
        width: 15em;
    }

    .maps {
        height: 265px;
    }

    .formulario {
        height: 596px;
    }

    .botonera {
        width: 186px;
    }
}

/* Se hace responsive la pantalla cuando tiene un ancho máximo de 990px */
@media screen and (max-width: 990px) {
    .fotos {
        div {
            img {
                height: 12em;
                width: 12em;
            }
        }
    }

    .imgCenter {
        width: 532px;
    }
}

/* Se hace responsive la pantalla cuando tiene un ancho máximo de 845px */
@media screen and (max-width: 845px) {
    .fotos {
        div {
            img {
                height: 10em;
                width: 10em;
            }
        }
    }

}

/* Se hace responsive la pantalla cuando tiene un ancho máximo de 714. Las fotos pasan a ser en columnas de 2 imágenes */
@media screen and (max-width: 714px) {
   .fotos {
        div {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 1fr;
        }
    }

    .fotos {
        div {
            img {
                height: 12em;
                width: 12em;
            }
        }
    }

    .fotos {
        height: auto;
        justify-content: space-around;
    }

    .formularioFlex {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 150px;
    }

    .maps {
        margin-right: 60px;
        width: 362px;
    }
}

/* Se hace responsive la pantalla cuando tiene un ancho máximo de 570px */
@media screen and (max-width: 570px) {
    .title_center {
        margin-left: 70px;
    }

    .formulario {
        margin-left: 126px;
    }

    .maps {
        margin: 106px;
    }
    .header {
        width: 549px;
        nav {
            div {
                div {
                    ul {
                        flex-direction: column;
                    }
                }
            }
            
        }
    }

    .imgCenter {
        width: 250px;
    }

    .footer {
        width: 540px;
    }

    .servicios {
        & > div {
            flex-direction: column;
            align-items: center;
        }
            
    }
}

/* Se hace responsive la pantalla cuando tiene un ancho máximo de 433px. En cada fila solo habrá una imagen */
@media screen and (max-width: 433px) {
    .title_center {
        margin-left: 175px;
    }
    .fotos {
        div {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 1fr;
        }
    }

    .botonera {
        margin-left: 30%;
    }

    
        
        

    
}