@import "../base/variables";
@import "../base/generales";

.footer {
    background-color: map-get($map: $colours, $key: "color-verde");
    padding: 20px;
    @include setFlex(space-between, center);

    img {
        height: 100px;
        width: 100px;
    }

    div {
        a {
            margin: 5px;
        }
    }

    a {
        img {
            height: 50px;
            width: 50px;
        }
    }
}