* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title_center {
    text-align: center;
    font-size: 40px;
}

.texto_paragrafo {
    margin: 20px;
    text-align: justify;
}

.flex {
    display: flex;
}

@mixin setFlex($justify-content, $align-items) {
    @extend .flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin setGrid($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

