* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title_center {
    text-align: center;
    font-size: 40px;
}

.flex {
    display: flex;
}

@mixin setFlex($justify-content, $align-items) {
    @extend .flex;
    justify-content: $justify-content;
    align-items: $align-items;
}